

<body class="body" *ngIf="!isLogged">
	<div class="main">  	
		<input class="label" type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form (submit)="ajouterUser()">
				<label class="label" for="chk" aria-hidden="true">S'inscrire </label>
				<input class="input" type="text" name="txt" placeholder="Prénom" required="" [(ngModel)]="newUser.prenom">
				<input class="input" type="text" name="txt" placeholder="Nom" required="" [(ngModel)]="newUser.nom">
				<input class="input" type="text" name="txt" placeholder="Numero de téléphone" required="" [(ngModel)]="newUser.phone_number">
				<input class="input" type="email" name="email" placeholder="Email" required="" [(ngModel)]="newUser.email">
				<input class="input" type="password" name="pswd" placeholder="Mot de passe" required="" [(ngModel)]="newUser.password">
				<button class="button">S'inscrire</button>
			</form>
		</div>
		<div class="login">
			<form (ngSubmit)="handleLogin()" (submit)="false">
				<label class="label" for="chk" aria-hidden="true">Connexion</label>
				<input class="input" type="email" name="email" placeholder="Email" required="" [(ngModel)]="newUser.email">
				<input class="input" type="password" name="pswd" placeholder="Mot de passe" required="" [(ngModel)]="newUser.password">
				<button class="button" type="submit">Connexion</button>
			</form>
		</div>
	</div>
</body>



<div class="min-h-screen bg-gray-100 dark:bg-gray-900" *ngIf="isLogged">
	<div class="grid grid-cols-2 gap-4">
	  



