<section class="text-gray-400 bg-gray-900 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">CinémaSphère : Explorations au cœur du 7e art</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Bienvenue dans l'univers cinéphile où chaque écran est une fenêtre ouverte sur l'imaginaire. Notre blog est un rendez-vous incontournable pour tous les passionnés de cinéma, qu'ils soient amateurs ou cinéphiles chevronnés. Plongez dans un océan d'histoires captivantes, d'émotions intenses et de réflexions profondes, car ici, chaque film est une expérience à part entière.</p>
      </div>
      <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 text-gray-900 dark:text-gray-100">
                  <label class="block text-gray-500 font-bold md:text-5xl mb-1 md:mb-0 pr-4">Le Top Des Blogs</label><br>
                    <div class="flex flex-wrap -mx-4">
                        @for (blog of blogs; track blog){
                          <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 xl:w-1/4 px-4 mb-8">
                            <div class="bg-white dark:bg-gray-900 p-6 rounded-lg shadow-md text-center">
                                <img [src]="getFullImageUrl(blog.poster_path, blog.newUrl)" alt="Image" class="mb-4 rounded-md cursor-pointer" (click)="openModal(blog)">
                                <h2 class="text-3xl font-bold underline mb-2"> {{ blog.title }} </h2>
                                <h3 class="text-xl font-bold mb-2">{{ blog.vote_count }} likes</h3>
                                <h3 class="text-xs text-white mb-4"> Publier le {{ blog.release_date }}
                                  <span *ngIf="blog.author">
                                    par {{ blog.author }}
                                  </span>
                                  <span *ngIf="!blog.author">
                                    par iLLu  
                                  </span>
                                  </h3>
                                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="toggleLike(blog, user.id)">Like</button>
                                </div>
                            </div>  
                          }
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>
<!-- Fenêtre modale pour afficher les détails du blog -->
<div class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden" id="blog-details-modal">
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md mx-auto w-3/4 md:w-1/2 p-4 flex flex-col md:flex-row" *ngIf="selectedBlog">
    <!-- Contenu des détails du blog -->
    <div class="w-full md:w-1/2">
      <h2 class="text-2xl font-bold mb-4 text-white">{{ selectedBlog.title }}</h2>
      <img [src]="selectedBlog.poster_path ? getFullImageUrl(selectedBlog.poster_path, selectedBlog.newUrl) : ''" alt="Image" class="mb-4 rounded-md modal-image">
      <div class="text-white mb-4">
        <p *ngIf="selectedBlog?.author">Publié le: {{ selectedBlog.release_date }} par {{ selectedBlog.author }}</p>
        <p>{{ selectedBlog.vote_count }} like</p>
        <p *ngIf="!selectedBlog?.author">Par iLLu</p>
        <p>Résumé: {{ selectedBlog.overview }}</p>
        <p>Avis: {{ selectedBlog.review }}</p>
        <button class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded-full" (click)="closeModal()">Fermer</button>
      </div>
    </div>
    <!-- Bouton pour fermer la fenêtre modale -->
  </div>
</div>